@use '../UI/variables' as *;

.advertisement {
  margin: 5rem auto;

  &__title {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
  }

  &__card {
    width: 90%;
    height: 15vw;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem auto;
    margin-right: 0;
  }

  &__card:nth-child(1) {
    display: grid;
    grid-template-columns: 55% 45%;
    margin-left: 0;

  }

  &__inner:nth-child(1) {
    background-image: url(img/ad-img.jpg);
    background-size: cover;
    background-position: center;
  }

  &__inner:nth-child(2) {
    background: linear-gradient(90deg, rgba(6, 13, 57, 1) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__card:nth-child(2) {
    background-image: url(img/offer-bg.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    text-align: center;
  }

  &__btn {
    padding: 1rem 1rem;
  }
}