@use '../UI/variables' as *;

.btn {
  padding: 0.9rem 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: calc(3rem/2);
  border: none;
}

.btn_blue {
  background: $lin_grad;
  color: white;
  box-shadow: 0 0 2rem 0 rgba(101, 147, 153, 0.5);
}

.btn_white {
  background: white;
  color: rgb(66, 66, 66);
}