section.section-advertisement
  .container.advertisement
    .advertisement__card
      .advertisement__inner
      .advertisement__inner
        div
          img(src="/img/ad-icon.png", alt="").advertisement__logo 
          p.advertisement__title Coming Soon
    .advertisement__card
      div
        p.advertisement__title Are you New Here?
        p.advertisement__title Don't wait, Register Now.
      button.advertisement__btn.btn.btn_blue Register now