section.section-advertisement
  .container.advertisement
    .advertisement__card
      img(src="/img/ad/ad-img.jpg", alt="").advertisement__img
      img(src="/img/ad/ad-icon.png", alt="").advertisement__img
    .advertisement__card
      p 123
      img(src="/img/ad/offer-bg.jpg", alt="").advertisement__img