section.section-banner
  .section-banner__image
  .container
    .banner 
      h1.banner__title Zack Snyder's Justice League
      .banner__info 
        span 2021 
        span.age 18+
        span 4h 2min 
        span 8.8
      .banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
      .banner__buttons 
        button.btn.btn_blue 
          span.icon__play 
          span Watch
        button.btn.btn_white More Information