footer.section-footer
  .container.footer
    .col1
      .main-logo.footer__logo
        .main-logo__icon M
        .main-logo__text box
    .col2
      p Voice over and Subtitle
      p Media Center
      p Privacy
      p Contact us
    .col3
      p Voice Description
      p Investor Relations
      p Legal Provisions
    .col4
      p Help Center
      p Job Opportunities
      p Cookies Preferences
    .col5
      p Gift Cards
      p Terms of Use
      p Corporate Informations