header
  .header.container
    .header__logo
      .logo_icon M
      .logo_text box
    nav.header__nav-controls
      ul.nav
        a(href="#") 
          li.nav__item.active Home
        a(href="#") 
          li.nav__item TV Shows
        a(href="#") 
          li.nav__item Movies
        a(href="#") 
          li.nav__item Series
    nav.header__nav-profile
      ul.nav
        a(href="#") 
          li.nav__item
            .header__icon.header__icon_search
        a(href="#") 
          li.nav__item 
            .header__icon.header__icon_notification
        a(href="#") 
          li.nav__item 
            .header__icon.header__icon_profile