section.section-popularactors
  .container.popularactors
    .popularactors__title.title
      .title__line
      h2.title__text Popular Actors & Directors
        .title__icon
    .popularactors__slider.slider
      .popularactors__card.slider__card
        img(src="/img/people/1.jpg", alt="").popularactors__img
        p.popularactors__name Samantha Bowen
      .popularactors__card.slider__card
        img(src="/img/people/2.jpg", alt="").popularactors__img
        p.popularactors__name Rhys Birch
      .popularactors__card.slider__card
        img(src="/img/people/3.jpg", alt="").popularactors__img
        p.popularactors__name James Holloway
      .popularactors__card.slider__card
        img(src="/img/people/4.jpg", alt="").popularactors__img
        p.popularactors__name Joshua Walton
      .popularactors__card.slider__card
        img(src="/img/people/5.jpg", alt="").popularactors__img
        p.popularactors__name Patrick Elliott
      .popularactors__card.slider__card
        img(src="/img/people/6.jpg", alt="").popularactors__img
        p.popularactors__name Morgan O'Neill
      