section.section-trendmovies
  .container.trendmovies
    .trendmovies__title.title
      .title__line
      h2.title__text Trending Movies
        .title__icon
    .trendmovies__slider.slider
      img(src="img/movies/1.jpg", alt="").trendmovies__card.slider__card
      img(src="img/movies/2.jpg", alt="").trendmovies__card.slider__card
      img(src="img/movies/3.jpg", alt="").trendmovies__card.slider__card
      img(src="img/movies/4.jpg", alt="").trendmovies__card.slider__card
      img(src="img/movies/5.jpg", alt="").trendmovies__card.slider__card
      img(src="img/movies/6.jpg", alt="").trendmovies__card.slider__card
    button.trendmovies__btn.btn.btn_blue See more