section.section-trendshows
  .container.trendshows
    .trendshows__title.title
      .title__line
      h2.title__text Trending TV Shows
        .title__icon
    .trendshows__slider
      img(src="/img/shows/1 (2).jpg", alt="").trendshows__card.card
      img(src="/img/shows/2 (2).jpg", alt="").trendshows__card.card
      img(src="/img/shows/3 (2).jpg", alt="").trendshows__card.card
      img(src="/img/shows/4 (2).jpg", alt="").trendshows__card.card
      img(src="/img/shows/5 (2).jpg", alt="").trendshows__card.card
      img(src="/img/shows/6 (2).jpg", alt="").trendshows__card.card