@use 'UI/variables' as *;
@forward 'components/header';
@forward 'components/banner';
@forward 'components/populargenres';
@forward 'components/advertisment';
@forward 'components/footer';
@forward 'UI/btn';
@forward 'UI/main-logo';
@forward 'UI/title';
@forward 'UI/slider';

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Marcellus&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 73.25%;
  max-width: 100rem;
  margin: 0 auto;
}

a {
  all: inherit;
  cursor: pointer;
}

.trendshows__card,
.trendmovies__card,
.populargenres__card {
  border-radius: 1rem;
}

.popularactors__img {
  border-radius: 100%;
  width: 100%;
}

.popularactors__name {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.trendmovies__btn {
  margin: 4rem 0 2rem 0;
}
