doctype html
html(lang="en")
  head
    title Online  TV
    style 
      include styles/style.css
  body
    include modules/header
    include modules/banner
    include modules/trendshows

    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine
    h1 Pug - node template engine

    include modules/footer